### Temp files
\#*
*\#
*~
.#*
.*.swp

### C/C++
*.o
*.a
*.so
*.bin
build*/
compile_commands.json
.clangd*/
.cache*/

### Python
__pycache__
*.pyc
*.ipynb_checkpoints

### kicad files
*.*-bak
*-cache.lib
fp-info-cache
fp-lib-table
sym-lib-table
gerber*/
*-backups*/
*.zip
log*/
*.kicad_prl
*-rescue.dcm
*-rescue.lib

### font-generator
scripts/font-generator/generated/
*.bmp
*.png
*.svg
